<h1>Edit Post</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<form class="" action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label>
    Subs
    <input type="hidden" name="post[sub_ids][]" value="">
    <% Sub.all.each do |sub| %>
      <input <%= 'checked' if @post.subs.include?(sub) %> type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>"> <%= sub.title %><br>
    <% end %>
  </label>
  <label>
    Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <label>
    URL
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <label>
    Content
    <input type="text" name="post[content]" value="<%= @post.content %>">
  </label>

  <input type="submit" name="" value="Create Post">
</form>
